
Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "GroupId"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0
  AWSEBAutoScalingLaunchConfiguration:
    Type: "AWS::AutoScaling::LaunchConfiguration"
    Properties:
      SpotPrice:
        "Fn::GetOptionSetting":
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: "EC2_SPOT_PRICE"
          DefaultValue: {"Ref":"AWS::NoValue"}

# container configuration
packages:
  yum:
    epel-release: []

files:
  "/etc/cron.d/sqlite-backup":
    mode: "000644"
    owner: root
    group: root
    content: |
      0 * * * * root /usr/bin/sqlite3 /data/attestation.db ".backup /tmp/backup" && /usr/bin/aws s3 cp /tmp/backup s3://STACK_NAME-attestation/attestation.db
    encoding: plain

container_commands:
  00_create_dir:
    command: "mkdir -p /opt/certbot"
  10_installcertbot:
    command: "wget https://dl.eff.org/certbot-auto  -O /opt/certbot/certbot-auto"
  20_permission:
    command: "chmod a+x /opt/certbot/certbot-auto"
  30_getcert:
    command: "sudo /opt/certbot/certbot-auto certonly --debug --non-interactive --register-unsafely-without-email --agree-tos --standalone --domains ${DOMAIN_NAME} --keep-until-expiring --pre-hook \"service nginx stop\" "
  40_link:
    command: "sudo ln -sf /etc/letsencrypt/live/${DOMAIN_NAME} /etc/letsencrypt/live/ebcert"
  70_setrenewal:
    command: "(crontab -l ; echo '0 6 * * * root /opt/certbot/certbot-auto renew --standalone --pre-hook \"service nginx stop\" --post-hook \"service nginx start\" --force-renew') | crontab -"
  80_copy:
    command: "cp .ebextensions/nginx-setup.sh /opt/elasticbeanstalk/hooks/appdeploy/enact/09nginx-setup.sh"
  85_make_exe:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/enact/09nginx-setup.sh"
  90_copy:
    command: "cp .ebextensions/sqlite-backup-restore.sh /opt/elasticbeanstalk/hooks/appdeploy/pre/08sqlite-backup-restore.sh"
  95_make_exe:
    command: "chmod +x /opt/elasticbeanstalk/hooks/appdeploy/pre/08sqlite-backup-restore.sh"